encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1mkfyuzsautdfttem05me0mpatq39nrq55ndkracxn2ya7jle0cyq5wvpzn"

[data]
    name = "Hartley Jean-Aimee"
{{- if eq .chezmoi.os "darwin" }}
    os = "darwin"
    brew_prefix = "/opt/homebrew"
{{- else if eq .chezmoi.os "linux" }}
    os = "linux"
    brew_prefix = "/home/linuxbrew/.linuxbrew"
{{- end }}
